[submodule "car/common/nanopb"]
	path = car/common/nanopb
	url = git@github.com:BlueJayRacing/nanopb.git
[submodule "car/common/kindr"]
	path = car/common/kindr
	url = https://github.com/ANYbotics/kindr.git
[submodule "car/common/control-toolbox"]
	path = car/common/control-toolbox
	url = git@github.com:BlueJayRacing/control-toolbox.git
[submodule "car/common/inertial-sense-sdk"]
	path = car/common/inertial-sense-sdk
	url = https://github.com/inertialsense/inertial-sense-sdk.git
[submodule "car/common/paho.mqtt.c"]
	path = car/common/paho.mqtt.c
	url = git@github.com:BlueJayRacing/paho.mqtt.c.git
[submodule "car/common/serial"]
	path = car/common/serial
	url = https://github.com/joshnewans/serial.git
